

body {
    background: beige;
    padding: 0;
    margin: 8px;
}

h2 {
    font-size: 10pt;
    border-bottom: 1px dotted gray;
}

ul {
    margin-left: 0;
    padding: 0;
    cursor: default;
}

li {
    background: url("images/arrow_right_spearmint.png") no-repeat center left;
    padding: 0 0 0 14px;

    list-style: none;
    margin: 0;
}

#myGrid {
    float: left;
    background: white;
    outline: 0;
    border: 1px solid gray;
}